$font_family: '';
$main_color: #38312a;
$secondary_color: #848019;

$nav_color: $secondary_color;
$nav_color_hover: rgba($secondary_color, .7);
$white_color_hover: rgba(#ffffff, .7);

$text_color: #333333;